{% extends 'core/base.html.twig' %}

{% block title %}
	ClemJewlery - Service
{% endblock %}

{% block content %}

	<div class="container my-5">
		<h1>Bienvenue sur ClemJewlery</h1>
		<p class="lead">Nous sommes spécialisés dans la création de boucles d'oreilles minimalistes, fabriquées à la main avec le plus grand soin. Nos bijoux sont à la fois élégants et modernes, parfaitement adaptés à toutes les occasions.</p>
		<br>
		<p class="lead">Nous sommes fiers d'offrir une collection variée de boucles d'oreilles minimalistes, conçues pour mettre en valeur votre beauté naturelle sans vous ruiner. Nous sommes convaincus que vous trouverez la paire parfaite pour compléter votre look, que ce soit pour une soirée, une réunion professionnelle ou simplement pour une journée décontractée.</p>
		<div class="row my-5">
			<div class="col-md-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Nous Visité</h5>
						<p class="card-text">455 rue Fournier<br>Saint-Jérôme Canada</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Appeler nous</h5>
						<p class="card-text">(555) 123-4567</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Nous Contacter</h5>
						<p class="card-text">info@jewelrystore.com</p>
					</div>
				</div>
			</div>


			<hr class="my-5">

			<div class="row my-5">
				<div class="col-md-6">
					<h2>Nos sources</h2>
					<ul>
						<li><a href="https://chat.openai.com" target="_blank">Chat gpt à grandement aider à la construction du site web</a></li>
						<li><a href="https://www.instagram.com/clemjewelry_" target="_blank">Élia Clément : À aprovisinier tout les photo des produits</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<h2>À usage pédagogique uniquement</h2>
					<p class="lead">Ce site web est destiné à des fins éducatives seulement et ne vend aucun produit réel. Les produits peuvent être retouver sur Instagram au nom de @clemjewlery_</p>
				</div>
			</div>
		{% endblock %}
